<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>404</title>
    <link rel="icon" href="{{@asset('favicon.ico')}}">
    <link rel="stylesheet" type="text/css" href="{{@asset('app.css')}}">
</head>
<body>
<div class="body">
    <section class="hero is-small is-fullheight bg-nothing">
        <div class="hero-body">
            <div class="container has-text-centered">
                <p class="title">
                    There's no such place!
                </p>
                <a href="/">
                    <img src="{{@asset('willow.png')}}" alt="willow">
                </a>
            </div>
        </div>
    </section>
</div>
<script type="module" src="{{@asset('app.js')}}"></script>
</body>
</html>