<nav class="navbar is-info has-background-black-ter is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item has-background-link" href="/">
            <img src="{{@asset('w-solid.svg')}}" alt="willow" width="80" height="28">
        </a>
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbar">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbar" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="/">
                {{ @DICT.nav.nelwyn }}
            </a>
        </div>
        <div class="navbar-end">
            <div class="navbar-item">
            </div>
        </div>
    </div>
</nav>