<!DOCTYPE html>
<html lang="en" class="has-navbar-fixed-top has-background-dark">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ @title }}</title>
    <link rel="icon" href="{{ @asset('favicon.ico') }}">
    <link rel="stylesheet" type="text/css" href="{{ @asset('app.css') }}"/>
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
<div class="body">
    <div class="container is-fluid p-0">
        <include href="{{ 'header'.@ext }}" />
        <div class="page-content">
            <include href="{{ @content }}" />
        </div>
        <include href="{{ 'footer'.@ext }}" />
    </div>
</div>
<script type="module" src="{{ @asset('app.js') }}"></script>
</body>
</html>